{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
<h2>Вход</h2>
<form method="post">
    {% csrf_token %}
    <div style="display: flex; flex-direction: column; gap: 10px; max-width: 300px;">
        {{ form.as_p }}
        <button type="submit" style="
            background: #333;
            color: white;
            padding: 8px;
            border: none;
            border-radius: 6px;
            cursor: pointer;">
            Войти
        </button>
    </div>
</form>
<p>Нет аккаунта? <a href="{% url 'register' %}">Регистрация</a></p>
{% endblock %}
